{% extends "base.html" %}
{% load static %}
{% load menu_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<style>
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu:wght@400;500&display=swap');
{#@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu:wght@400;500&display=swap');#}
</style>
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}

<header>
    <a href="/">
        <svg alt="logo AV 21" class="logo" viewBox="0 0 266 358" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.991333 10.5C0.991333 4.97715 5.46849 0.5 10.9913 0.5H140.991C146.514 0.5 150.991 4.97715 150.991 10.5V189.5C150.991 195.023 146.514 199.5 140.991 199.5H10.9913C5.46848 199.5 0.991333 195.023 0.991333 189.5V10.5Z" fill="#2C677B"/>
            <rect x="36.9913" y="163.499" width="114" height="158" rx="10" fill="#E0B73B"/>
            <rect x="115.009" y="36.5" width="150" height="163" rx="10" fill="#BA5D3F"/>
            <rect x="114.991" y="163.499" width="114" height="194" rx="10" fill="#2A77A0"/>
            <rect x="114.991" y="36.5" width="36" height="285" fill="white"/>
            <path d="M72.9913 84.5H192.991V120.5H72.9913V84.5Z" fill="white"/>
            <path d="M36.9913 163.499H228.991V199.499H36.9913V163.499Z" fill="white"/>
        </svg>
    </a>

    <nav>
        {#{% wagtail_site as current_site %}#}
        {#{{ current_site.site_name }}#}
        {#{% main_menu max_levels=3 template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}#}
        {% main_menu max_levels=1 %}
    </nav>
</header>

<main>
    <h1>{{ page.title }}</h1>
    <div class="body">{% include_block page.body %}</div>
</main>


<footer>
    <p class="love">Vytvořeno s ♥️ láskou</p>
</footer>


{% endblock content %}
