{% extends "base.html" %}
{% load static %}
{% load menu_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<style>
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu:wght@400;500&display=swap');
{#@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu:wght@400;500&display=swap');#}
</style>
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock extra_css %}

{% block content %}

{#{% include 'home/welcome_page.html' %}#}

<header class="header">
    <a href="/"><img class="logo" src="{% static "images/logos/logo_av21.svg" %}" alt="logo AV 21"></a>
    <nav>
        {#{% wagtail_site as current_site %}#}
        {#{{ current_site.site_name }}#}
        {#{% main_menu max_levels=3 template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}#}
        {% main_menu max_levels=1 %}
    </nav>
</header>

<main class="main">
    <h1>{{ page.title }}</h1>
    <div class="body">{% include_block page.body %}</div>
</main>


{% endblock content %}
